{% extends 'template.html' %}
{% block content %}
<h1>Build Your Map</h1>

<script src="static/grid.js"></script>

<form method="post" action="/register">
<div class="grid-container">
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>  
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div>
  <div class="grid-item"  onclick="clickGridBlock(this)"></div> 
</div>
  <input type="button" class="submit-button" value="Save Grid">
</form>
{% endblock %}
