{% extends 'template.html' %}
{% block content %}
<script src="static/grid.js"></script>

<body onload="buildCanvas({{ height }}, {{ length }} {{map}})">

<form id="Tools">
    <input type="radio" id="draw" name="Tools" value="draw" checked onclick="drawTool();">
    <label for="draw">Draw Tool</label><br>
    <input type="radio" id="erase" name="Tools" value="erase" onclick="eraseTool();">
    <label for="erase">Erase Tool</label><br>
</form>



<form method="post" action="/savebuild">
	<canvas id="map" onmousedown="beginDraw(event)" onmouseup="endDraw()" onmousemove="paint(event)">The Map</canvas>
    <label for="map_name">Name your Map:</label>
    <input type="text" id="map_name" name="map_name"><br><br>
    <input type="submit" class="submit-button" value="Save Grid">
</form>
</body>
{% endblock %}