{% extends 'template.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Coders and Caverns</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <!-- Aliyah's edits begin here, in case she breaks something -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
  <!-- Aliyah's edits end here -->
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- Google Sign-In -->
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="674992425830-ld7o22fg72kifvb7202tb35tflo0pa0i.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <div class="buildGrid" align="center" style="background-color:#F1EADA">
    <script src="{{url_for('static', filename='grid.js')}}"></script>
    <link rel="stylesheet" href="/static/css/grid.css">
    <br>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn"> <i class="fas fa-toolbox"></i> Tools </button>
        <div id="myDropdown" class="dropdown-content">
        <p for="draw"><input type="radio" id="draw" name="Tools" value="draw" checked onclick="drawTool();"> <i class="fas fa-pencil-ruler"></i> Draw </p>
        <p for="erase"><input type="radio" id="erase" name="Tools" value="erase" onclick="eraseTool();"> <i class="fas fa-eraser"></i> Erase </p>
        <p for="doorNS"><input type="radio" id="doorNS" name="Tools" value="doorNS" onclick="doorNSTool();"><i class="fas fa-doorNS"></i> NS Door </p>
        <p for="doorEW"><input type="radio" id="doorEW" name="Tools" value="doorEW" onclick="doorEWTool();"><i class="fas fa-doorEW"></i> EW Door </p>
        </div>
    </div>

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <br>
    <body onload="buildCanvas({{ height }}, {{ length }}, {{ map }})">
    <br>

    <form class = "center" name= "map_form" method="post" action="/savebuild" onsubmit="saveCanvas()">
        <canvas id="map" onmousedown="beginDraw(event)" onmouseup="endDraw()" onmousemove="paint(event)">The Map</canvas><br><br>
        <p for="campaign">Campaign Name:
        <input type="text" id="campaign" name="campaign"></p>
        <p for="map_name">Map Name:
        <input type="text" id="map_name" name="map_name"></p>
        <p for="floor">Floor Name:
        <input type="text" id="floor" name="floor"></p>
        <input type="hidden" id="canvas_data" name="canvas_data" value="">
        <input type="hidden" id="height" name="height" value={{height}}>
        <input type="hidden" id="length" name="length" value={{length}}>
        <button type="submit" class="submit-button btn btn-primary btn-round" value="Save Grid">Save Grid</button>
    </form>
    </div>
</body>
</html>
{% endblock %}