<!DOCTYPE html>
<html lang="en">
<head>
  <title>Coders and Caverns</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <!-- Aliyah's edits begin here, in case she breaks something -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
  <!-- Aliyah's edits end here -->
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- Google Sign-In -->
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="674992425830-ld7o22fg72kifvb7202tb35tflo0pa0i.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="static/logout.js"></script>
  <script src="static/scripts.js"></script>
</head>
<body id="body">
<!-- Navigation -->
 <nav class="navbar navbar-expand-lg bg-primary fixed-top" color-on-scroll="400">
    <div class="container">
      <div class="dropdown button-dropdown">
        <a href="" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
          <span class="button-bar"></span>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-header">Your journey begins here</a>
          <a class="dropdown-item" href="/build.html">Build a Map</a>
          <a class="dropdown-item" href="/join_group.html">Join a Group</a>
          <a class="dropdown-item" href="/make_group.html">Make a Group</a>
        </div>
      </div>
      <div class="navbar-translate">
        <a class="navbar-brand" href="/home.html" title="Navigation" data-placement="bottom"> Home </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../static/img/blurred-image-1.jpg">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="signup.html">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="signOut();">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar --> 

  <!-- Header -->
<div class="wrapper">
    <div class="page-header page-header-medium">
      <div class="page-header-image" data-parallax="true" style="background-image: url('../static/img/dd3.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">Coders and Caverns</h1>
          <h3 class="subtitle">Build your dream map today!</h3>
          <div class="text-center">
          </div>
        </div>
      </div>
    </div>
  <!-- End Header -->

<div class="section section-about-us" style="background-color:#F1EADA">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title" color>Who Are We?</h2>
            <h5 class="description">Are you a Dungeon Master looking to take your gaming sessions to the next level? Maybe you’ve dreamed up an entire world for your next RPG campaign, but need a way to help your party members visualize the realms you’ve created. Fear not! We’ve got you covered with some great resources for beginner RPG map makers.</h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container image-left" style="background-image: url('../static/img/dd3.jpg')">
                <!-- First image on the left side -->
                <p class="blockquote blockquote-primary">"Making dungeons more accessible to all players, and easier!"
                </p>
              </div>
              <!-- Second image on the left side of the article -->
              <div class="image-container" style="background-image: url('../static/img/dd1.jpg')"></div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div class="image-container image-right" style="background-image: url('../static/img/dd2.jpg')"></div>
              <h4>About Dungeons & Dragons</h4>
              <p>The first Dungeons & Dragons game was played back when Gary Gygax and Dave Arneson chose to personalize the massive battles of their fantasy wargames with the exploits of individual heroes. This inspiration became the first fantasy roleplaying game, in which players are characters in an ongoing fantasy story. This new kind of game has become immensely popular over the years, and D&D has grown to include many new ways to vividly experience worlds of heroic fantasy.
              </p>
              <p>
              The core of D&D is storytelling. You and your friends tell a story together, guiding your heroes through quests for treasure, battles with deadly foes, daring rescues, courtly intrigue, and much more. You can also explore the world of Dungeons & Dragons through any of the novels written by its fantasy authors, as well as engaging board games and immersive video games. All of these stories are part of D&D.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-team text-center" style="background-color:#F1EADA">
      <div class="container">
        <h2 class="title">Meet the Team</h2><br><br>
        <div class="team">
          <div class="row">
            <div class="col-md-3">
              <div class="team-player">
                <img src="../static/img/bryce.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Bryce Ryan</h4>
                <p class="category text-primary">Back-End</p>
                <p class="description">The trumpet is widely known for drawing in more extroverted children. They can be bold, brash, have nervous energy and even tend to be dominant and ambitious. This is due to the nature of the trumpet, which is usually a lead instrument playing a higher melody. Other experts say that children with good hand-eye coordination will do well with the trumpet, adding that most trumpet players are also good at video games. </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-player">
                <img src="../static/img/lily.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Lily Turner</h4>
                <p class="category text-primary">Back-End</p>
                <p class="description">The lyric baritone is a sweeter, milder sounding baritone voice, lacking in harshness; lighter and perhaps mellower than the dramatic baritone with a higher tessitura. Its common range is from the A below C3 to the G above middle C (A2 to G4). It is typically assigned to comic roles.</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-player">
                <img src="../static/img/john.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">John Hudson</h4>
                <p class="category text-primary">Front-End</p>
                <p class="description">The violin is a great beginner instrument as it is offered in a variety of sizes. It is also good to start young as developing the type of flexibility needed to play can be awkward for someone who is older. Although it is a great starter instrument, keep in mind that experts say quietly behaved children who are happy to be a part of a whole, not needing to stand out and be heard, generally excel with a violin. </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-player">
                <img src="../static/img/aliyah.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Aliyah Flores</h4>
                <p class="category text-primary">Front-End</p>
                <p class="description">Aliyah is a Senior at the University of Pittsburgh majoring in Computer Science and completing a Certificate in Information System Design. She loves her pet dog, sleeping in, and pretending she knows what she's doing in school. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer footer-default">
      <div class=" container ">
        <nav>
          <ul>
            <li>
              <a href="https://www.creative-tim.com">
                Credits
              </a>
            </li>
            <li>
              <a href="http://presentation.creative-tim.com">
                About Us
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright" id="copyright">
          &copy;
          <script>
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
          </script> Coders and Caverns 2020
        </div>
      </div>
    </footer>
    <!-- End Footer -->
</body>
</html>

