{% extends "template.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Coders and Caverns</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <!-- Aliyah's edits begin here, in case she breaks something -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
  <!-- Aliyah's edits end here -->
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- Google Sign-In -->
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="674992425830-ld7o22fg72kifvb7202tb35tflo0pa0i.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
  <div class="section section-join-group" align="center" style="background-color:#F1EADA">
    <script src="static/group.js"></script>
        <div id="buttonHolder" class="form-group">
        <h2><strong>Join a Group</strong></h2>
            <form>
                <label for="groupNumber">Group Code:</label>
                <input align="center" type="text" id="groupNumber" name="groupNumber">
            </form><br>
            <button type="button" class="btn btn-primary btn-round" onclick="joinGroup()">Join Group</button>
        </div>
    <div id="map_container" style="display:none; position:relative; width:520px; height:520px;">
        <canvas id="map" name="map" style="display:none; position:absolute;">MAP</canvas>
    </div>
    <canvas id="holder" style="display:none;">MAP</canvas>
    <div id="content"> </div>
  </div>
</body>
</html>

{% endblock %}