{% extends 'template.html' %}
{% block content %}

<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

<script>
function onSignIn(googleUser) {
    let profile = googleUser.getBasicProfile();
    let idToken = googleUser.getAuthResponse().id_token;
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('ID Token: ' + idToken);
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

    let params = {
        'token': idToken,
        'email': profile.getEmail()
    }

    sendJsonPost(params, '/authcode', function(responseObject, targetUrl, parameters){
        if(responseObject.errors.length == 0){
            document.location ='/';

        }
    });
}
</script>

{% endblock %}