{% extends "template.html" %}
{% block content %}
<script src="{{url_for('static', filename='group.js')}}"></script>
<script src="{{url_for('static', filename='grid.js')}}"></script>

<div id="buttonHolder">
<button onclick="makeGroup()">Make Group</button>
</div>



<canvas id="map" style="display:none;">MAP</canvas>

<div id="content"> </div>
<div style="display:none;" id="map_names">
    <ul>
    {% for map in maps %}
    <li>
        <a href="/{{map.map_id}}">{{map.map_name}}</a>
    </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}