{% extends 'template.html' %}
{% block content %}
<script src="{{url_for('static', filename='grid.js')}}"></script>
<link rel="stylesheet" href="/static/css/grid.css">

<body onload="buildCanvas({{ height }}, {{ length }}, {{ map }})">

<form class = "center" id="Tools">
    <input type="radio" id="draw" name="Tools" value="draw" checked onclick="drawTool();">
    <label for="draw">Draw Tool</label><br>
    <input type="radio" id="erase" name="Tools" value="erase" onclick="eraseTool();">
    <label for="erase">Erase Tool</label><br>
</form>



<form class = "center" name= "map_form" method="post" action="/updategrid" onsubmit="saveCanvas()">
    <title>{{map_name}}</title>
	<canvas id="map" onmousedown="beginDraw(event)" onmouseup="endDraw()" onmousemove="paint(event)">The Map</canvas><br><br>
    <input type="hidden" id="canvas_data" name="canvas_data" value="">
    <input type="hidden" id="map_name" name="map_name" value={{map_name}}>
    <input type="submit" class="submit-button" value="Save Grid">
</form>
</body>
{% endblock %}