<!DOCTYPE html>
<html>
    <head>
        <title>{{pagename}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>

    <body>
		<table style="width:100%">
			<tr class="header">
				<th style="width:15%"></th>
				<th><a href="home.html" class="NavBarLink">Home</a></th>
				<th><a href="build.html" class="NavBarLink">Start Building</a></th>
				<th><a href="login.html" class="NavBarLink">Login</a></th>
				<th><a href="signup.html" class="NavBarLink">Sign Up</a></th>
				<th style="width:15%"></th>
			</tr>
			<tr class="whitespace"></tr>
				<div class="body">
					<tr>
						<th></th>
						<th colspan="3">
							{% block content %}
							{% endblock %}
						</th>
					</tr>
				</div>
		</table>
    </body>
</html>
