<!DOCTYPE html>
<html>
    <head>
        <style>
            .grid-container {
                display: grid;
                grid-template-columns: repeat(8, 1in);
                grid-template-rows: repeat(10, 1in);
                background-color: #ffffff;
            }

            .grid-item {
                background-color: #ffffff;
                border: 2px solid rgba(0, 0, 0, 1);
            }
        </style>
        <script>

        </script>
        <link rel="stylesheet" href="style.css">
        <title>{{pagename}}</title>
    </head>

    <body>
		<table style="width:100%">
			<tr>
				<th><a href="home.html" class="NavBarLink">Home</a></th>
				<th><a href="build.html" class="NavBarLink">Start Building</a></th>
				<th><a href="login.html" class="NavBarLink">Login</a></th>
			<tr>

			<tr>
				<th></th>
				<th>
					{% block content %}
					{% endblock %}
				</th>
			<tr>
		</table>
    </body>
</html>
